<h1>Welcome to price updates!</h1>

<p>

  <img src="<%=@image%>">

  The original price of your watched item -> <%= @item %>  -> is <%= @price %>

  The old price was <%=@price  %> , new price is <%= @new %>

  Buy now <a href="list.url">Here.</a>

</p>
