<h1>Welcome to price updates!</h1>

<p>

  <%= @greeting %>

  <img src="<%=@image%>">

  The original price of your watched item -> <%= @item %>  -> is <%= @price %>

  The old price was <%=@price  %> , new price is <%= @new %>


</p>
